<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Perritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-list-header >
      <h2 class="colorLila">Se le da</h2>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/kim.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Kim Possible</h2>
        <h3>Se le da</h3>
        <p>Te gusta chocar con el loco que repetiste</p>
        <p>Van 3 vese que has chocao con el loco te gusta verda</p>
        
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/leela2.png">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Turanga Leela</h2>
        <h3>Tiene un ojo</h3>
        <p >Esta buenisima se le da aunque tenga un ojo, aunque sea bizca, aunque le falte un pie, se le da como quiera</p>
      </ion-label>
      
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/perrita.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Reina</h2>
        <h3>PERRITAAA jejejejje</h3>
        <p>SE TE DA PERRITA</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Vilma.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Vilma Dinkley</h2>
        <h3>Me gustan asi sería cuatro ojo</h3>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/frozens.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Elsa</h2>
        <h3>Blanquita si</h3>
        <p>Pa darle su galleta</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Yoruichi.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Yoruichi</h2>
        <h3>Esta buena también</h3>
        <p>Pelo morado se ta da heavy</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Widow.png">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Widowmaker</h2>
        <h3>Se le da</h3>
        <p>Esa salvaje</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Moana.webp">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Moana</h2>
        <h3>Se te da</h3>
        <p>Agarrate esa melena</p>
      </ion-label>
    </ion-item>
    <ion-list-header >
      <h2 class="colorLila">No se le da</h2>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Blancanieves.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorLila">Blancanieves</h2>
        <h3>Se acabo el video mi gente ustedes saben porque</h3>
        <p>Quedate con tus 7 enanos</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <div id="container">
    <button ion-button (click)="goToHome()" class="btn">Go to Home</button>
    <Ejemplo para hacer desde el ts, en vez de usar router link>
  </div-->
</ion-content>